# IGNORE PYTHON CACHE
__pycache__

# IGNORE THE TOOLS DIRECTORIES SO YOU DON'T END UP UPLOADING THE TOOLS TO THE REPO
calculator/
EmailAll/
pagodo/
sqlmap/
IMC/
watch/
MAC_changer/
QRcode/
barcode/
menus/

# IGNORE TRASH
desktop.ini
venv/
# I'm ignoring venv for now since i'm using it
# mostly as a commodity.
