# IGNORE PYTHON CACHE
__pycache__

# IGNORE THE TOOLS DIRECTORIES SO YOU DON'T END UP UPLOADING THE TOOLS TO THE REPO
calculator/
EmailAll/
pagodo/
sqlmap/
IMC/
watch/
MAC_changer/
QRcode/
barcode/

# IGNORE TRASH
desktop.ini
